body,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    /*colors*/
    --color-primary: #744236;
    --color-secondary: #E6A257;

    --color-bg: #FFF7ED;
    --color-surface: #ffffff;

    --color-text: #744236;
    --color-placeholder: #744236B3;
    --color-text-disabled: #74423659;

    /*typography*/
    --font-base: "Habibi", serif;
    --font-size-base: 1rem; /* 16px */
    --text-transform-title: uppercase;
    --line-height-base: 1.87rem; /* 30px */

    --font-size-h1: 1.375rem;   /* 22px */
    --font-size-title-large: 2rem;   /* 32px */
    --font-size-h2: 1.5rem; /* 24px */
    --font-size-btn: 1.25rem; /* 20px */

    --radius-btn: 30px;
    --radius-card: 20px;
    --radius-entries: 40px;

    --header-footer-size: 90px;
}

html {
    font-size: 100%;
}

body {
    font-family: var(--font-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text);
    background-color: var(--color-bg);
}

main {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    margin-top: var(--header-footer-size);
    width: 100%;
    overflow-y: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    line-height: var(--line-height-base);
    font-weight: normal;
}

h1 {
    font-size: var(--font-size-h1);
    text-transform: var(--text-transform-title);
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-base);
}

img {
    display: block;
    max-width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    display: inline-block;
    min-width: 298px;
    height: 45px;
    text-indent: 20px;
    font-family: var(--font-base);
    padding: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-entries);
    box-shadow: 0px 4px 4px rgba(116, 66, 54, 0.25);
}

input::placeholder {
    color: var(--color-placeholder);
    opacity: 1;
}



