*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    /*colors*/
    --color-primary: #744236;
    --color-secondary: #E6A257;

    --color-bg: #FFF7ED;
    --color-surface: #ffffff;

    --color-text: #744236;
    --color-placeholder: rgba(var(--color-text), 0.7);
    --color-text-disabled: rgba(var(--color-text), 0.35);

    /*typography*/
    --font-base: "Habibi", serif;
    --font-size-base: 1rem; /* 16px */
    --text-transform-title: uppercase;
    --line-height-base: 1.87rem; /* 30px */

    --font-size-h1: 1.375rem;   /* 22px */
    --font-size-title-large: 2rem;   /* 32px */
    --font-size-h2: 1.5rem; /* 24px */
    --font-size-btn: 1.25rem; /* 20px */

    --radius-btn: 30px;
    --radius-card: 20px;
    --radius-entries: 40px;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    font-family: var(--font-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);

    color: var(--color-text);
    background-color: var(--color-bg);

    text-align: center;
}

header {
  align-self: stretch;
}

h1,
h2,
p {
    line-height: var(--line-height-base);
}

h1 {
    font-size: var(--font-size-h1);
    text-transform: var(--text-transform-title);
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-base);
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
textarea {
    display: inline-block;
    width: 298px;
    height: 45px;
    text-indent: 20px;
    font-family: var(--font-base);
    padding: 7.5px;

    color: var(--color-text);
    background-color: var(--color-bg);

    border: 1px solid var(--color-primary);
    border-radius: var(--radius-entries);

    box-shadow: 0px 4px 4px rgba(116, 66, 54, 0.25);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-placeholder);
  opacity: 1;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}




