/*button*/
button[type="submit"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 194px;
    height: 45px;

    border: none;
    border-radius: var(--radius-btn);

    font-family: var(--font-base);
    font-size: var(--font-size-btn);
    text-decoration: none;
    line-height: var(--line-height-base);

    background-color: var(--color-primary);
    color: var(--color-bg);

    cursor: pointer;
}

button[type="submit"]:active {
    background-color: var(--color-primary);
    color: var(--color-bg);
    transform: scale(0.98);
}

/*entries*/
main form fieldset {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-bg);
    font-family: var(--font-base);
}

main form legend {
    display: none;
}

main form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    color: var(--color-text);
    font-size: 1rem;
}

header h1 {
    font-size: var(--font-size-h1);
    padding: 20px;
}

body>header {
    border-block-end: 1px solid var(--color-text);
}

body>footer {
    border-block-start: 1px solid var(--color-text);
}

/*navbar*/
body>footer nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

body>footer nav a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50%;
}

body>footer nav a[aria-current="page"] {
    background-color: var(--color-text);
}

body>footer nav a[aria-current="page"] img {
    filter: brightness(0) invert(1);
}

/*card*/
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    padding: 0 7px;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


ul li a {
    text-decoration: none;
    display: block;
}

ul li article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 179px;
    height: 163px;
    border: 1px solid #74423680;
    border-radius: var(--radius-card);
    box-shadow: 0px 4px 4px rgba(116, 66, 54, 0.25);
    background-color: var(--color-bg);
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
}

ul li article header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul li article header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    border: 1px solid var(--color-placeholder);
    background-color: #fff;
    width: 147px;
    height: 103px;
    border-radius: var(--radius-card);
    margin: 0 auto;
    overflow: hidden;
}

ul li article header aside {
    position: absolute;
    bottom: 5%;
    right: 13px;
}


article header aside button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: auto;
    height: auto;
}

article header aside button img {
    width: 19.17px;
    height: 16px;
    display: block;
    pointer-events: none;
}

ul li article footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

ul li article footer>* {
    margin: 0;
    font-size: var(--font-base);
    color: var(--color-text);
}