main form fieldset {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-bg);
    font-family: var(--font-base);
}

main form legend {
    display: none;
}

main form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    color: var(--color-text);
    font-size: 1rem;
}


input {
    display: inline-block;
    min-width: 298px;
    height: 45px;
    text-indent: 20px;
    font-family: var(--font-base);
    padding: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-entries);
    box-shadow: 0px 4px 4px rgba(116, 66, 54, 0.25);
}

input::placeholder {
    color: var(--color-placeholder);
    opacity: 1;
}




