body > header {
    border-block-end: 1px solid var(--color-text);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: var(--header-footer-size);
    background-color: var(--color-bg);
    z-index: 10;
}

body > header h1 {
    font-size: var(--font-size-h1);
    padding: 20px;
}
