@import "../base.css";
@import "../components/header.css";
@import "../components/button.css";

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main>header {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

main>header a {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

main>header h2 {
    margin: 0;
    text-align: center;
}

section>img:first-child {
    max-width: 100%;
    min-width: 300px;
    height: 152px;
    object-fit: cover;
    border: 1px solid var(--color-placeholder);
    border-radius: var(--radius-card);
    background-color: #fff;
}

h3 {
    font-size: 20px;
}

fieldset {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-end: 1px solid var(--color-text);
}

fieldset>div {
   display: flex;
   align-items: center;
}

/*quantity*/
fieldset button {
    width: 23px;
    height: 23px;
    background: var(--color-text);
    border: none;
    border-radius: 50%;
}

fieldset button:first-child {
    margin-right: 20px;
}

fieldset button:last-child {
    margin-left: 20px;
}

/*size*/
fieldset:nth-of-type(2) div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}

fieldset:nth-of-type(2) input[type="radio"] {
    display: none;
}

fieldset:nth-of-type(2) label{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.35;
    font-weight: bold;
}

fieldset:nth-of-type(2) input[type="radio"]:checked + label {
    opacity: 1;
}

/*sugar*/
fieldset:nth-of-type(3) input[type="radio"] {
    display: none;
}

fieldset:nth-of-type(3) div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
}

fieldset:nth-of-type(3) label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #744236;
    background-color: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s;
}

fieldset:nth-of-type(3) input[type="radio"]:checked + label{
    background-color: #744236;
}

/*milk*/
input[type="checkbox"] {
    display: none;
}

fieldset:nth-of-type(4) label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid #744236;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
}

fieldset:nth-of-type(4) label img {
    opacity: 0;
    vertical-align: middle;
    height: auto;
}

fieldset:nth-of-type(4) input[type="checkbox"]:checked + label img {
    opacity: 1;
}

form {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 20px;
}

form > button {
    align-self: center;
    justify-self: center;
}